# Diretórios e arquivos comuns para ignorar
/node_modules
/db
/tests
/tokens
/tests/fapCredentials.json
tests/fapCredentials.json

# Arquivos de configuração e dados sensíveis
env
fapCredentials.json

# Outros arquivos e diretórios que você pode querer ignorar
*.log
*.tmp
*.swp
.DS_Store
